* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* fonts */
    --normalFont: "Roboto", sans-serif;
    --headerFont: "Climate Crisis", sans-serif;
    /* --detailFont: "IBM Plex Mono", monospace; */

    /* colors */
    /* --mainColor: #0D421B; */
    --mainColor: #123862;
    --secondColor: #F6EFDD;
    --whiteColor: #ffffff;

    --fontColor: #292929;

}
body {
    font-family: var(--normalFont)
}
a {
    text-decoration: none;
    color: var(--fontColor);
}
h1, h2, h3 {
    font-family: var(--headerFont);
    letter-spacing: .5rem;
}